/* Navbar */

a.freelan-logo {
	display: inline-block;
	height: 50px;
	width: 133px;
	background-size: auto 50px;
	background-color: transparent;
	background-image: url('/static/images/freelan-logo_with_caption.png');
	background-position: center center;
	background-repeat: no-repeat;
}

#main-navbar {
	margin-bottom: 0;
}

#main-navbar li.highlight > a {
	color: green;
	background-color: #e0ffe0;
}

#main-navbar li.highlight > a:hover {
	color: lightgreen;
	background-color: #efffef;
}

/* Carousel */

#feature-carousel {
	margin-bottom: 20px;
	background-color: black;
}

#feature-carousel > .carousel-inner {
	background: url('/static/images/laptop.jpg');
	background-repeat: no-repeat;
	background-color: black;
	background-size: cover;
	box-shadow: inset 0 -1px 1px -1px #000000;
	-moz-box-shadow: inset 0 -1px 1px -1px #000000;
	-webkit-box-shadow: inset 0 -1px 1px -1px #000000, inset 0 1px 1px -1px #000000;
}

#feature-carousel > .carousel-inner > .item {
	min-height: 440px;
	color: #333;
	font-weight: bold;
	padding-bottom: 72px;
}

#feature-carousel > .carousel-inner > .item .feature-text h1 {
	max-width: 35em;
	font-style: italic;
	text-align: left;
	margin: 1em 48px 1.5em 48px;
}

#feature-carousel > .carousel-inner > .item p {
	max-width: 35em;
	margin: 1em 48px 1.5em 48px;
	text-align: justify;
}

#feature-carousel > .carousel-inner > .item p.action {
	margin-top: 2em;
	text-align: right;
}

#feature-carousel > .carousel-inner > .item .feature-text p {
	text-align: justify;
}

/* Feature zone */

.feature-zone {
	text-align: center;
}

.feature-zone p {
	text-align: justify;
}

/* Feature block */

.feature-block h1 {
	letter-spacing: -1px;
	line-height: 1;
	font-size: 40px;
}

.feature-block p {
	text-align: justify;
}

.illustration {
	width: 250px;
	height: 250px;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.illustration.pull-right {
	margin-left: 32px;
}

.illustration.pull-right + div {
	margin-right: 282px;
}

.illustration.pull-left {
	margin-right: 32px;
}

.illustration.pull-left + div {
	margin-left: 282px;
}

@media (max-width: 991px) /* @grid-float-breakpoint -1 */
{
	.feature-block h1 {
		font-size: 35px;
	}

	.illustration {
		display: none;
	}

	.illustration.pull-right + div {
		margin-right: 0;
	}

	.illustration.pull-left + div{
		margin-left: 0;
	}
}

.feature-block h1 > span{
	font-size: 50%;
}

/* Pages */

.page {
	padding-top: 2em;
	text-align: justify;
}

/* Download blocks */
.download-block {
	padding: 1em;
	height: 100%;
	text-align: justify;
}

.download-block h3 {
	text-align: center;
	margin-bottom: 0.5em;
}

.download-block .illustration {
	filter: none;
	-webkit-filter: none;
	width: 180px;
	margin: 32px auto;
}

.download-block .btn-block {
	margin: 2em auto;
	text-align: center;
}

.download-table td.platform,
.download-table th.platform {
	white-space: nowrap;
	padding: 0.5em;
}

.download-table td.arch,
.download-table th.arch {
	text-align: center;
	width: 1%;
	padding: 0.5em;
}

.download-table .arch > a.btn {
	min-width: 15em;
}

/* FAQ */

.faq-entry {
	text-align: justify;
	clear: right;
}

.faq-entry + .faq-entry {
	margin-top: 3em;
}

.faq-entry h3:first-child {
	margin-bottom: 1em;
	border-bottom: 1px solid #eee;
}
