{% extends "page.j2" %}

{% block page %}
<div class="page-header">
    <h1>Downloads <small>Get freelan now !</small></h1>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail download-block">
            <h3>Microsoft Windows&trade;</h3>
            <img class="img-responsive illustration" src="{{ url_for('static', filename='images/microsoft.png') }}" />
            <div class="btn-block">
                <a href="#windows" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-download"></span> Downloads for Windows</a>
            </div>
            <p>Freelan works for all modern Windows&trade; versions, in both their 32 bits and 64 editions.</p>
            <hr />
            <p>Compatibility list:</p>
            <ul>
                <li><strong>Windows XP&trade; <sup>[<a href="#xp-note">1</a>]</sup></strong></li>
                <li><strong>Windows Vista&trade;</strong></li>
                <li><strong>Windows Seven&trade;</strong></li>
                <li><strong>Windows 8&trade;</strong></li>
            </ul>
            <sup id="#xp-note">(1) Only for freelan 1.1 - x64. Future versions won't support Windows XP anymore.</sup>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail download-block">
            <h3>Linux</h3>
            <img class="img-responsive illustration" src="{{ url_for('static', filename='images/linux.png') }}" />
            <div class="btn-block">
                <a href="#debian" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-download"></span> See Debian packages</a>
            </div>
            <p>Freelan can be used on all modern (and even not-so-modern) Linux flavors.</p>
            <p>You can easily <a href="{{ url_for('development') }}">compile it from source</a> on all distributions.</p>
            <hr />
            <p>If you use Debian or one of its derived distributions, know that we also provide Debian packages.</p>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail download-block">
            <h3>Apple Mac OSX&trade;</h3>
            <img class="img-responsive illustration" src="{{ url_for('static', filename='images/apple.png') }}" />
            <div class="btn-block">
                <a href="#osx" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-download"></span> Downloads for Mac OSX</a>
            </div>
            <p>Freelan runs on Mac OSX starting with OSX Lion&trade; (10.7).</p>
            <hr />
            <p>Compatibility list:</p>
            <ul>
                <li><strong>OSX Lion&trade;</strong> (10.7)</li>
                <li><strong>OSX Mountain Lion&trade;</strong> (10.8)</li>
                <li><strong>OSX Mavericks&trade;</strong> (10.9)</li>
            </ul>
        </div>
    </div>
</div>

<div id="windows">
    <div class="page-header">
        <h1>Windows</h1>
    </div>

    <h2>Downloads</h2>

    <div class="alert alert-warning">
        <p>Make sure you get the installation package that matches your operating system architecture (32 bits or 64 bits).</p>
        <p>While freelan 32 bits itself can run on a 64 bits Windows, the virtual network interface driver <strong>won't</strong>.</p>
    </div>

    <div class="alert alert-info">
        <p>Freelan requires the Visual C++ 2013 runtime to operate. You may already have it installed for other softwares but if you don't (or in doubt), you should download and install it.</p>
        <p class="text-center"><a href="http://www.microsoft.com/en-us/download/details.aspx?id=40784" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download"><span> Download the <strong style="font-family:monospace;">Visual C++ 2013 runtime</strong></span></a></p>
    </div>

    <table class="table table-bordered download-table">
        <thead>
            <tr>
                <th class="platform">Operating system</th>
                <th class="arch">32 bits</th>
                <th class="arch">64 bits</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="platform">Windows Vista, Seven, 8</td>
                <td class="arch"><a href="http://dl.bintray.com/ereon/generic/freelan-1.1-x86-install.exe" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download"></span> win-x86</a></td>
                <td class="arch"><a href="http://dl.bintray.com/ereon/generic/freelan-1.1-amd64-install.exe" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download"></span> win-amd64</a></td>
            </tr>
            <tr>
                <td class="platform">Windows XP</td>
                <td class="arch"><em>Not available</em></td>
                <td class="arch"><a href="http://dl.bintray.com/ereon/generic/freelan-1.1-winxp-amd64-install.exe" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download"></span> winxp-amd64</a></td>
            </tr>
        </tbody>
    </table>

    <h2>Installation instructions</h2>
    <p>Just double-click on the installer: this will install freelan's Windows service as well as the virtual network interface driver (aka. "TAP adapter").</p>
    <p>Make sure you install all the components by <strong>not unchecking any of those</strong> in the installer. Those options are reserved for experienced users.</p>

    <h2>Configuration</h2>
    <p>Upon installation, freelan won't be able to start because its configuration is incomplete. Edit the file at <code>C:\Program Files\FreeLAN\config\freelan.cfg</code> with your favorite text editor.</p>
    <p>For details about configurations, see <a href="{{ url_for('get_help') }}">this page</a>.</p>
    <p>Once your configuration is complete, restart the service by typing this command in "Start > Execute" (<kbd>Windows key + R</kbd>):</p>
    <pre>services.msc</pre>
    <p>This will popup the Windows services dialog in which you should see the "FreeLAN Service". Select that entry and press "Start" to start the service.</p>
    <p>If the configuration is correct, the service will start normally and it will also start whenever Windows boots.</p>
    <p>If the service refuses to start, then something must be wrong with the configuration. You can debug this by launching freelan from the command line.<p>
    <p>Open a console (<kbd>Windows key + R</kbd>, then "cmd") and type the following commands:</p>
<pre>
> cd "C:\Program Files\FreeLAN\bin"
> freelan -c ..\config\freelan.cfg
</pre>
    <p>This will start freelan in foreground mode and parse the configuration. If anything is wrong with it, the command will just stop and tell you what.</p>
    <p>Once the configuration is fixed, try to start the service again.</p>
</div>

<div id="debian">
    <div class="page-header">
        <h1>Debian</h1>
    </div>

    <h2>Installation</h2>

    <p>Freelan is currently packaged for Debian <code>wheezy</code> and <code>testing/sid</code>.</p>

    <p>Freelan's Debian repository is hosted at <a href="http://debian.freelan.org">http://debian.freelan.org</a>. You may add the following line to your <code>/etc/apt/source.list</code>:

<pre>
# freelan repository (testing and sid)
deb http://debian.freelan.org/ unstable main
</pre>

    <p>Or for Debian <code>wheezy</code>:</p>

<pre>
# freelan repository (wheezy)
deb http://debian.freelan.org/ wheezy-backports main
</pre>

    <p>If you wish so, you can also add the public GPG key for the repository to local trusted keys list (highly recommended):</p>

<pre>
wget -q http://debian.freelan.org/debian.freelan.org.key -O- | apt-key add -
</pre>

    <p>Then update your package cache:</p>

<pre>
# apt-get update
# apt-get install freelan
</pre>

    <p>Freelan should now be installed. Congratulations !</p>

    <h2>Configuration</h2>

    <p>The Debian freelan daemon can run simultaneously several separate configurations.</p>

    <p>Copy the template configuration file at <code>/etc/freelan/freelan.conf</code>:</p>

<pre>
# cp /etc/freelan/freelan.conf /etc/freelan/myconfiguration.conf
</pre>

    <p>Edit your configuration file according to your needs (don't forget to specify both public and private key files) then edit the <code>/etc/default/freelan</code> file like that:</p>

<pre>
# This is the configuration file for /etc/init.d/freelan

# Configuration files to load.
#
# Values should be separated by spaces.
# Each entry must match a file at /etc/freelan/.conf
#
CONFIGURATIONS="myconfiguration"

# Additional options that are passed to the Daemon.
#
#DAEMON_OPTS=""
</pre>

    <div class="alert alert-warning">
        <p><strong><span class="glyphicon glyphicon-warning-sign"></span> Have you configured your firewall ?</strong></p>
        <p>Freelan by default listens on 12000/UDP.</p>
        <p>For it to run correctly, you must ensure your firewall is correctly configured to allow freelan's communications <strong>inside and outside</strong> the VPN tunnel.</p>
    </div>

    <p>Finally, start the daemon:</p>

<pre>
# service freelan start
Starting freelan instance - myconfiguration:Reading configuration file at: "/etc/freelan/myconfiguration.conf"
Creating PID file at: "/var/run/freelan.pid.myconfiguration"
</pre>

    <p>And freelan should now be running ! Congratulations !</p>
</div>

<div id="osx">
    <div class="page-header">
        <h1>Mac OSX</h1>
    </div>

    <h2>Downloads</h2>
    <p>Freelan is available for Mac OSX as a <code>.pkg</code> installer.

    <p><a href="http://dl.bintray.com/ereon/generic/freelan_1.1.pkg" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-download"></span> Download installer</a></p>

    <p>Note that Freelan requires a tun/tap adapter on your system. You can get one for free on the <a href="http://tuntaposx.sourceforge.net/index.xhtml">tun/tap OSX website</a>.</p>

    <h2>Installation instructions</h2>
    <p>Once you downloaded the installer, just double-click on it and follow the indicated steps.</p>
    <p>Freelan is designed to run in the background as a daemon, using <code>launchd</code>. At the end of the installation process, freelan registers itself to <code>launchd</code> using the <code>launchctl</code> command.</p>

    <p>The installer installs the following files on the system:</p>
    <ul>
        <li><code>/usr/local/sbin/freelan</code> - The main executable.</li>
        <li><code>/usr/local/etc/freelan/freelan.cfg</code> - The default configuration file read by the daemon.</li>
        <li><code>/usr/local/share/freelan/uninstall.sh</code> - An uninstall script (see details below).</li>
        <li><code>/Library/LaunchDaemons/org.freelan.freelan.plist</code> - The <code>launchd</code> daemon registration file.</li>
    </ul>

    <h2>Configuration</h2>
    <p>By default, freelan's configuration is incomplete and the daemon just won't run properly.</p>
    <p>Edit the configuration file at <code>/usr/local/etc/freelan/freelan.cfg</code> and adjust your settings. For details about the configuration, see <a href="{{ url_for('get_help') }}">this page</a>.</p>
    <p>You may test if your configuration is fine by issuing the following command in a terminal:</p>

    <pre>$ sudo freelan -f -d -c /path/to/your/configuration/file</pre>

    <p>Once the configuration is fine, just reload the service by typing:</p>

<pre>
$ sudo launchctl stop org.freelan.freelan
$ sudo launchctl start org.freelan.freelan
</pre>

    <p>You can now check <code>/var/log/syslog</code> to see if the daemon started properly.</p>

    <h3>Running several instances of the daemon</h3>
    <p>If you would like to run more than one instance of freelan in the background, follow these steps:</p>
    <ol>
        <li>Copy the <code>launchd</code> file at <code>/Library/LaunchDaemons/org.freelan.freelan.plist</code> and rename it to something else (keep the extension).</li>
        <li>Edit the copied file and change the location of the read configuration file (defaults to <code>/usr/local/etc/freelan/freelan.cfg</code>).</li>
        <li>Register the new <code>.plist</code> file using the following command:</li>
    </ol>

    <pre>$ sudo launchctl load /Library/LaunchDaemons/your.new.file.plist</pre>

    <p>You should now have a another instance of the freelan daemon running on your system (as root).</p>

    <h2>Removal</h2>
    <p>Mac OSX <code>.pkg</code> don't have any specific mechanism to uninstall apps. However, freelan's installer put an uninstall script at <code>/usr/local/share/freelan</code>.</p>
    <p>To uninstall freelan completely (this also removes the default configuration file in <code>/usr/local/etc/freelan</code>), type the following command in a terminal (you will be prompted for your password):</p>

    <pre>$ sudo /usr/local/share/freelan/uninstall.sh</pre>

    <p>freelan should be completely removed from the system.</p>
</div>

{% endblock %}
