{% extends "page.j2" %}

{% block page %}

<img class="img-responsive pull-right illustration" src="{{ url_for('static', filename='images/cable.jpg') }}" alt="Network cable" />

<div class="page-header">
	<h1>Frequently Asked Questions <small>Just so you know</small></h1>
</div>

{% endblock %}