<div class="container">
    <hr />

    <p class="pull-right"><small><a href="#">Back to top</a></small></p>
    <p><small>November 2013, <a href="https://github.com/ereOn">Julien Kauffmann</a> - Generated with <a href="http://flask.pocoo.org/">Flask</a>.</small></p>
</div>