<!-- Fixed navigation bar -->
<nav id="main-navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand freelan-logo" href="{{ url_for('home') }}"></a>
    </div>
  </div>
</nav>
