{% extends "design.j2" %}

{% block content %}<p>coucou</p>{% endblock %}

{% block subheader %}
<div id="feature-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#feature-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#feature-carousel" data-slide-to="1"></li>
    <li data-target="#feature-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" style="background-color: #555;">
    <div class="item active">
      <div class="container">
          <h1>Lol</h1>
          <h1>Lol</h1>
          <h1>Lol</h1>
          <h1>Lol</h1>
        <div class="carousel-caption">
          <h1>Lol</h1>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#feature-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#feature-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
{% endblock %}
